* {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
}
.w-container {
    max-width: 960px;
    margin: 0 auto;
}
.historyTitle {
    font-size: 22px;
    margin-left: 10px;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	/* border: 1px solid black; */
	/* width: 100%; */
	background-color: rgb(255, 255, 255);
	filter: drop-shadow(0px 3px 10px rgba(163, 163, 163, 0.096));
	margin-bottom: 20px;
}
  
td {
	/* width: 130px; */
	padding: 10px 14px 10px 14px;
	border: 1px solid rgba(243, 243, 243, 0.541); 
}
/* headTable */
.head {
    width: 100%;
    /* background-color: rgb(255, 255, 255); */
    filter: drop-shadow(0px 3px 10px rgba(163, 163, 163, 0.096));
    background-color: rgba(233, 233, 233, 0.13);
}
.head td {
    width: 30px;
    height: 20px;
    border: 1px solid rgba(199, 199, 199, 0.198);
    padding: 8px 18px;
}


@media screen and(max-width: 570px) {
    .head {
        background-color: rgba(233, 233, 233, 0.13);
        color: rgb(77, 77, 77);
    }
    .head td {
        width: 100px;
        height: 20px;
        border: 1px solid rgba(199, 199, 199, 0.198);
        padding: 5px 8px;
    }
}
@media screen and(max-width: 375px) {
    .head td {
        font-size: 12px;
    }
}
@media screen and(max-width: 330px) {
    .head td {
        padding: 1px;
        font-size: 12px;
    }
}
.pageNumber {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.pageNumber a {
    font-size: 18px;
    margin-left: 3px;
    margin-right: 3px;
    color: #000000;
    font-size: 16px;
    text-decoration: none;
}

@media screen and(max-width: 500px) {
    .pageNumber {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .pageNumber a {
        font-size: 16px;
        margin-left: 2px;
        margin-right: 2px;
    }
}

.text-1 {
	/* filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161)); */
	overflow: visible;
	text-align: left;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}

.time {
    overflow: visible;
	float: right;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-size: 14px;
	color: rgb(41, 41, 41);
}

.text-2 {
	overflow: visible;
	float: right;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgb(41, 41, 41);
}

@media screen and (max-width: 768px){
	.text-2 {
		overflow: visible;
		float: right;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		color: rgba(112,112,112,1);
	}
}
.text-3 {
	overflow: visible;
	float: right;
	font-family: 'Nanum Gothic', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgb(41, 41, 41);
}

@media screen and (max-width: 425px){
	.listName {
		overflow: visible;
		float: left;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		color: rgba(112,112,112,1);
    }
    
    .time {
        overflow: visible;
        float: right;
        font-family: 'Nanum Gothic', sans-serif;
        font-style: normal;
        font-size: 12px;
        color: rgb(41, 41, 41);
    }
	
	.text-2 {
		overflow: visible;
		float: right;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		color: rgb(41, 41, 41);
	}
	
	.text-3 {
		overflow: visible;
		float: right;
		font-family: 'Nanum Gothic', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		color: rgb(41, 41, 41);
	}
}


@media screen and (max-width: 570px) {
	td {
		width: 68px;
		padding: 4px 3px 4px 3px;
		border-bottom: 1px solid rgba(243, 243, 243, 0.541); 
    }
    .head td {
        padding: 8px 4px;
        font-size: 12px;
    }
}

@media screen and (max-width: 365px) {
	td {
	  width: 50px;
	  padding: 4px 3px 4px 3px;
	  border-bottom: 1px solid rgba(243, 243, 243, 0.541); 
    }
    
    .head td {
        padding: 8px 4px;
    }
  }


@media screen and (max-width: 330px){
	td {
		width: 50px;
		padding: 5px 2px 5px 4px;
	}
}

@media screen and (max-width: 320px){
	td {
		width: 50px;
		padding: 6px 0px 6px 0px;
    }
    
    .head td {
        padding: 8px 4px;
        font-size: 12px;
    }
}